$c333: #333;
$c666: #666;
$c999: #999;
$cbbb: #bbb;
$cccc: #ccc;
$ceee: #eee;
$cQQ: #30A5DD;
$cRed: #f56c6c;
$cMain: #279af2;
$cPink: #d482e5;
$cGreen: #13ce66;
$cWeibo: #E89214;
$cOrange: #e9af5e;
$cWechat: #4cb202;
$cf3f9ff: #f3f9ff;
$ceaecf0: #eaecf0;
$cContent: #F0F2F5;
// ------------------------------
$vContent: #fff;
$vTheme: #ea6f5a;
$vFontColor: #333;
$v333: #333;
$vLightAsh: #787878;
$vWhite: #fff;
$vBlack: #000;
$vDeepAsh: #a5a5a5;
$vAsh: #b4b4b4;
$vBoderColor: #0f0f0f;
$vPlaceholder: #a0a0a0;
$vHover: #f5f5f5
