html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow-x: hidden;
  @media (max-width: 1024px) {
    overflow: auto;
  };
}

#app {
  width: 100%;
  height: 100%;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.ib {
  display: inline-block;
}

.navbar-default {
  background-color: #fff;
  border-color: #0f0f0f;
}

.navbar {
  width: 100%;
  min-height: 50px
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* - Chrome ≤56,
   - Safari 5-10.0
   - iOS Safari 4.2-10.2
   - Opera 15-43
   - Opera Mobile >12
   - Android Browser 2.1-4.4.4
   - Samsung Internet
   - UC Browser for Android
   - QQ Browser */
::-webkit-input-placeholder {
    color: #a0a0a0;
    font-weight: 400;
}

/* Firefox 4-18 */
:-moz-placeholder {
    color: #a0a0a0;
    font-weight: 400;
}

/* Firefox 19-50 */
::-moz-placeholder {
    color: #a0a0a0;
    font-weight: 400;
}

/* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
:-ms-input-placeholder {
    color: #a0a0a0 !important;
    font-weight: 400 !important;
}

/* Edge (also supports ::-webkit-input-placeholder) */
::-ms-input-placeholder {
    color: #a0a0a0;
    font-weight: 400;
}

/* CSS Working Draft */
::placeholder {
    color: #a0a0a0;
    font-weight: 400;
}

@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
      width: 750px;
  }
}
